.solar-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    text-align: center;
    color: #fff;
    background: url('./images/markus-spiske-rNn_TU8dvoY-unsplash.jpg') no-repeat center center/cover;
}